.product-info {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: white;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  max-width: 700px;
}

.product-info .description{
  margin-top: 10px;
  margin-bottom: 5px;
  color: rgb(46, 46, 46);
}

.product-info p {
  color: rgb(46, 46, 46);
}

.product-info a {
  color: rgb(43, 101, 226);
}